        *{

        }
        body {
            background-color: #6b6b6b;
            font-family: Arial, sans-serif;
            color: aliceblue;
        }
        .content h1 {
            text-align: center
        }
        button {
                padding: 10px 15px;
                background-color: rgb(100, 100, 100);
                color: green;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }
            button:hover {
                background-color: paleturquoise;
            }
            h2{
                text-align: center;
            }